{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "displayName": true,
                "ssr": true,
                "fileName": false
            }
        ]
    ]
}