{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "displayName": false,
                "ssr": true,
                "fileName": true
            }
        ]
    ]
}
