services:
  turing-machine-simulator-app:
    container_name: turing-machine-simulator-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${TURING_MACHINE_SIMULATOR_APP_PORT}:8080
    networks:
      - turing-machine-simulator-network

networks:
  turing-machine-simulator-network:
    driver: bridge
